[Unit]
Description=DNS URL Shortener FastAPI Service
After=network.target

[Service]
User=vagrant
Group=vagrant
WorkingDirectory=/vagrant
ExecStart=/vagrant/venv/bin/uvicorn api.main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target